NEXT_PUBLIC_APP_NAME=OralDiagnostic
NEXT_PUBLIC_APP_ENV=demo
NEXT_PUBLIC_SUPABASE_URL=https://lsicnvutjvemohcxiwjk.supabase.co
NEXT_PUBLIC_SUPABASE_FUNCTIONS_URL=https://lsicnvutjvemohcxiwjk.functions.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_c7Jrbi_rbJn8pYTROjNQWA_yDo3yWLt
NEXT_PUBLIC_AI_HEALTH_URL=https://guillermovr-oraldiagnostic-ai-service.hf.space/health
